.header {
    display: flex;
    flex-direction: column;
    width: 1600px

}

.part1 {
    background-color: rgb(75, 75, 99);
    height: 195px;
}

.part2 {
    background-color: white;
    height: 180px;
    display: flex;
    flex-direction: row;
}

.pt2a {
    background-color: white;
    width: 350px;
}

.pt2b {
    width: 290px;
}

.pt2c {
    display: flex;
    width: 615px;
    align-items: center;
    text-align: left;
    justify-content: center;

}

.pt2d {
    width: 365 px
}


.part3 {
    display: flex;
    flex-direction: row;
    background-color: rgb(75, 75, 99);
    height: 40px;
}

.pt3a {
    width: 350px;
}

.pt3b {
    display: flex;
    flex-direction: row;
    width: 290px;
    color: white;
    justify-content: space-between;
}


.main-img {
    width: 1600px;
    height: 550px;
}

.footer {
    display: flex;
    flex-direction: row;
    background-color: rgb(75, 75, 99);
    height: 73px;
    width: 1600px;
    justify-content: space-evenly;
}

.ft1 {
    justify-content: center;
    align-items: center;
}

.ft2 {
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: center;
    color: white

}
